* {
  box-sizing: border-box;
}
html{
  height: 100%;
}

body{
  background: linear-gradient(to bottom, #60bde4, #10020200);
  background: #60bde473;
  /* height: 100%; */
  /* overflow: hidden; */
}

.image-container{
  text-align: center;
}
.letter-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 13rem;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 2em;

}
.letter-square{
  margin-left: 0.2rem;
  height: 3.5rem;
  width: 3rem;
  border-radius: 10px;

}
.guess-container{
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.guess-box{
  margin-right: 1em;
}
.guess-box p{
  font-size: 1.5rem;
}
#pokeball{
  width: 320px;
  height: 320px;
}
#pokeball:hover, button:hover{
  cursor: pointer;
}

.progress-container{
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}
.title-container{
  margin: 1%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1%;
  max-width: 800px;
}
.title-container > img {
  width: 100%
}
.progress {
  font-size: 1rem !important;
  height: 2rem !important;
  padding: 1%;
}
.progress-bar-black > div{
  color: black !important;
}
.progress-container{
  margin-top: 1%;
}
@media only screen and (max-width: 600px) {
  .progress-container{
    margin-top: 10%;
    /* position: absolute;
    bottom: 5%;
    width: 100%; */
  }
  .letter-square{
    margin-bottom: 1%;
  }
  .letter-container{
    max-width: 375px;
    margin-top: 3%;
  }
  #pokeball{
    width: 200px;
    height: 200px;
  }
  .title-container{
    /* margin-top: 5%; */
  }
}