.image-container{
  /* background-color: lightblue; */
  text-align: center;
}
.letter-container{
  display: flex;
  /* background-color: orange; */
  justify-content: center;
  /* width: 80%; */
  flex-wrap: wrap;
  height: 13rem;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 7%;

}
.letter-square{
  margin-left: 0.2rem;
  height: 3.5rem;
  width: 3rem;
  border-radius: 10px;

}
.guess-container{
  display: flex;
  margin: 0 auto;
  text-align: center;
  /* background-color: yellow; */
  justify-content: center;
}
.guess-box{
  margin-right: 1em;
  /* width: 3em; */
  /* height: 7em; */
}
.guess-box p{
  font-size: 3.5rem;
}
img{
  width: 320px;
  height: 320px;
}