.image-container{
  background-color: lightblue;
  text-align: center;
}
.letter-container{
  margin-top: 7%;
  display: flex;
  /* background-color: orange; */
  justify-content: center;
  /* width: 80%; */
  flex-wrap: wrap;
  height: 13rem;
  max-width: 500px;
  margin: 0 auto;
}
.letter-square{
  margin-left: 0.2rem;
  height: 3.5rem;
  width: 3rem;
  border-radius: 10px;

}
.letter-square > div{
  /* border-radius: 10px; */
}